html {
  background: #000000;
}
h4 {
  color: beige;
}
p {
  color: beige;
  /*font: bolder 200px;*/
}
#Enemy {
  color: rgb(121, 13, 66);
}
#ZackDam {
  color: red;
}
#SamDam {
  color: red;
}
#Sams_mp {
  color: blue;
}
#Zacks_mp {
  color: blue;
}
#Zacks_hp {
  color: #07d125;
}
#Sams_hp {
  color: maroon;
}
#Money {
  color: gold;
}
#Enemy2 {
  color: rgb(196, 25, 25);
}
#Sams_armor {
  color: lightblue;
}
#Zacks_armor {
  color: lightblue;
}
#Nates_armor {
  color: lightblue;
  display: none;
}
#Nates_hp {
  color: rgb(33, 165, 209);
  display: none;
}
#Nates_mp {
  color: blue;
  display: none;
}
#NateDam {
  color: red;
  display: none;
}
