html {
    background: #000000;
}
#bank_div {
background-color: #696969; 
border: 10px solid #097d1a;
color: #07d125;
padding: 20px;
width: 50px;
height: 100px;
font: bold;
}
h4 {
    color: beige;
}
p {
    color: beige;
}
#Enemy {
    color: rgb(121, 13, 66);
}
#Bank_text {
    color: #097d1a;
}
#loot {
    color:#097d1a;
}
#ZackDam {
    color: red;
}
#SamDam {
    color: red;
}
#Sams_mp {
    color: blue;
}
#Zacks_mp {
    color: blue;
}
#Zacks_hp {
    color: #07d125;
}
#Sams_hp {
    color: maroon;
}
#Money {
    color: gold;
}