html {
  background: #000000;
}
h4 {
  color: beige;
}
p {
  color: beige;
  /*font: bolder 200px;*/
}
#Enemy {
  color: rgb(121, 13, 66);
}
#ZackDam {
  color: red;
}
#SamDam {
  color: red;
}
#Sams_mp {
  color: blue;
}
#Zacks_mp {
  color: blue;
}
#Zacks_hp {
  color: #07d125;
}
#Sams_hp {
  color: maroon;
}
#Money {
  color: gold;
}
#Enemy2 {
  color: rgb(196, 25, 25);
}
#Sams_armor {
  color: lightblue;
}
#Zacks_armor {
  color: lightblue;
}
.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 0;
  background-color: #4caf50;
  transition: width 5s ease-in-out;
}
#lvldisp {
  color: aquamarine;
}
